<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" >
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class ="card" >
            <div class="circle">
                <h2>01</h2>
            </div>
        <div class="content">
            <p>
                Lorem ipsum is placeholder text commonly used in the graphic,
                 print, and publishing industries for previewing layouts and visual mockups.
            </p>
            <a href="#">Read more</a>
        </div>
        </div>
    </div>

    <div class="container">
        <div class ="card" >
            <div class="circle">
                <h2>02</h2>
            </div>
        <div class="content">
            <p>
                Lorem ipsum is placeholder text commonly used in the graphic,
                 print, and publishing industries for previewing layouts and visual mockups.
            </p>
            <a href="#">Read more</a>
        </div>
        </div>
    </div>

    <div class="container">
        <div class ="card" >
            <div class="circle">
                <h2>03</h2>
            </div>
        <div class="content">
            <p>
                Lorem ipsum is placeholder text commonly used in the graphic,
                 print, and publishing industries for previewing layouts and visual mockups.
            </p>
            <a href="#">Read more</a>
        </div>
        </div>
    </div>

    <div class="container">
        <div class ="card" >
            <div class="circle">
                <h2>04</h2>
            </div>
        <div class="content">
            <p>
                Lorem ipsum is placeholder text commonly used in the graphic,
                 print, and publishing industries for previewing layouts and visual mockups.
            </p>
            <a href="#">Read more</a>
        </div>
        </div>
    </div>

    <div class="container">
        <div class ="card" >
            <div class="circle">
                <h2>05</h2>
            </div>
        <div class="content">
            <p>
                Lorem ipsum is placeholder text commonly used in the graphic,
                 print, and publishing industries for previewing layouts and visual mockups.
            </p>
            <a href="#">Read more</a>
        </div>
        </div>
    </div>

    
</body>
</html>