@layout("layout")

@section("style-section")
{{style("css/register")}}
@endsection

@section("content")
    <div class="container">
        <div class="content_bx">
            <div class="content_area">
        
        </div>
    </div>
    </div>
<script>
    
</script>
   
@endsection