@layout("layout")

@section("style-section")

@endsection
    
@section("content")
<div class="conainer">
    <div class="connent">
        @each(car_img in cars)
        {{car_img.cars}}
        @endeach
        @each(car_name in cars)
        {{name.cars}}
        @endeach
    </div>
</div>
<script>

</script>

@endsection