@layout("layout")

@section("style-section")
{{style("css/login")}}
@endsection

@section("content")
    <div class="container">
        <span class="hero-text"> 
            REGISTER
        </span>
    </div>
@endsection