*{
    font-family: 'Prompt', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}

section
{
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:#373B44;
}

section::before
{
    contain: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #4286f4;

}

section .containhead 
{
    position: relative ;
    min-width : 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

section .containhead .containhead-info
{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px );
    background: #4286f4;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);

}

section .containhead .contain-info 
{
    padding-top: 100px;
}

section .containhead .containhead-info h2 
{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

section .containhead .containhead-info .info
{
    position: relative;
    margin: 20px 0;
}

section .containhead .containhead-info .info li
{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
    font-size: 15px;
    

}

section .containhead .containhead-info .info li span:nth-child(1)
{
    width: 30px;
    min-width: 30px;
}
 
section .containhead .containhead-info .info li span:nth-child(1) img
{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}

section .containhead .containhead-info .info li span:nth-child(2)
{
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
}
 
section .containhead .containhead-info .info li span:nth-child(1) img,
section .containhead .containhead-info .info li span:nth-child(2)
{
    opacity: 1;
}

section .containhead .containhead-info .sci
{
    position: relative;
    display: flex;
}

section .containhead .containhead-info .sci li
{
    list-style: none;
    margin-right: 15px;
}

section .containhead .containhead-info .sci li a
{
    text-decoration: none;
}

section .containhead .containhead-info .sci li a img
{
    filter: invert(1);
}

section .containhead .containhead-info .sci li:hover a img
{
    opacity: 1;
}

section .containhead .contactForm
{
    position: absolute   ;
    padding :70px 50px;
    background: #fff;
    margin-left: 150px ;
    padding-left: 250px;
    width: calc(100% -150px) ;
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0);

}

section .containhead .contactForm h2 
{
    color: #333;
    font-size: 24px;
    font-weight: 500;
}

section .containhead .contactForm .formBox
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;

}

section .containhead .contactForm .formBox .inputBox
{
    position: relative;
    margin: 0 0 35px 0;
}

section .containhead .contactForm .formBox .inputBox.w50
{
    width: 47%;
}

section .containhead .contactForm .formBox .inputBox.w100
{
    width: 100%;
}


section .containhead .contactForm .formBox .inputBox input,
section .containhead .contactForm .formBox .inputBox textarea{
    width : 100%  !important;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

section .containhead .contactForm .formBox .inputBox textarea{
    min-height: 120px;
}


section .containhead .contactForm .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.3s;
    pointer-events: none;
}


section .containhead .contactForm .formBox .inputBox input:focus ~ span,
section .containhead .contactForm .formBox .inputBox textarea:focus ~ span,
section .containhead .contactForm .formBox .inputBox input:valid ~ span,
section .containhead .contactForm .formBox .inputBox textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff568c;
}



section .containhead .contactForm .formBox .inputBox input[type="submit"]
{
    position: relative;
    cursor: pointer;
    background: #16BFFD;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}

section .containhead .contactForm .formBox .inputBox input[type="submit"]:hover
{
    background: #CB3066;
}




button
{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #283c86;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #45a247;

}

.container{
    width: 90%;
    margin: 0 auto;
    height: 200%;
}


.header{
    width: 100%;
    height: 600px;
    padding-top: 60px;
    background: url(../images/indexbg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
.header_area{
    padding-top: 160px;
}
.header_area h1{
    font-size: 3rem;
    padding-left: 300px;
}

.form_area{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.form_area input{
    margin:15px 0;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #333;
    padding: 10px;
    font-size: 25px;
    outline: none;
}

.bottom-click{
    justify-content: center;
    display: flex;
}

.bottom-click a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background:#283c86;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.bottom-click a:hover {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #45a247;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}



/* Card Bottom */
.boxcard
{
    width: 100%;
    position: relative;
    display: flex;
    /* justify-content: space-between;  */
    justify-content: center;  
    
    padding :40px 0 40px 0;
}

.boxcard .card
{
    position: relative;
    width: 300px;
    height: 200px;
    margin : 10px  ;

}

.boxcard .card .face
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;

}

.boxcard .card .face.face1
{
    background: #355C7D;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform-origin: bottom;
} 

.boxcard .card .face.face1 img
{
    max-width: 100px;

}

.boxcard .card .face.face1 h3
{
    margin: 10px 0 0 ;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.boxcard .card:hover .face.face1 
{
    transform: translateY(-100%) rotateX( 90deg);
    background: #C06C84;
}

.boxcard .card .face.face2
{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg) ;

}


.boxcard .card:hover .face.face2
{
    transform: translateY(0) rotateX(0deg);
}


.boxcard .card .face.face2 a
{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #283c86;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
}

.boxcard .card .face.face2 a:hover
{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #45a247;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
}
