*{
    font-family: 'Prompt', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}


/* header */
li,a,button{
    font-weight: 500;
    font-size: 25px;
    color: #000;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color:#F0F2F0;
}

.logo
{
    cursor: pointer;
}


.nav_links{
    list-style: none;
}

.nav_links li 
{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a 
{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover
{
    color: #45a247;
}

/* end header */

button
{
    padding: 9px 25px;
    background-color: #283c86;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #45a247;

}

.container{
    width: 90%;
    margin: 0 auto;
    height: 200%;
}


.header{
    width: 100%;
    height: 600px;
    padding-top: 60px;
    background: url(../images/indexbg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
.header_area{
    padding-top: 160px;
}
.header_area h1{
    font-size: 3rem;
    padding-left: 300px;
}

.form_area{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.form_area input{
    margin:15px 0;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #333;
    padding: 10px;
    font-size: 25px;
    outline: none;
}

/* .form_area label {
    margin: ;
} */

.bottom-click{
    justify-content: center;
    display: flex;
}

.bottom-click a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background:#283c86;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.bottom-click a:hover {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #45a247;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}



/* Card Bottom */
.boxcard
{
    width: 100%;
    position: relative;
    display: flex;
    /* justify-content: space-between;  */
    justify-content: center;  
    
    padding :40px 0 40px 0;
}

.boxcard .card
{
    position: relative;
    width: 300px;
    height: 200px;
    margin : 10px  ;

}

.boxcard .card .face
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;

}

.boxcard .card .face.face1
{
    background: #355C7D;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform-origin: bottom;
} 

.boxcard .card .face.face1 img
{
    max-width: 100px;

}

.boxcard .card .face.face1 h3
{
    margin: 10px 0 0 ;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.boxcard .card:hover .face.face1 
{
    transform: translateY(-100%) rotateX( 90deg);
    background: #C06C84;
}

.boxcard .card .face.face2
{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg) ;

}


.boxcard .card:hover .face.face2
{
    transform: translateY(0) rotateX(0deg);
}


.boxcard .card .face.face2 a
{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #283c86;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
}

.boxcard .card .face.face2 a:hover
{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #45a247;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
}



/* Footer */

footer{
    background: #f1f1f1;
    padding: 90px 0;
  }
  
  .footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  
  .logo{
    width: 180px;
  }
  
  
  .right-col h1{
    font-size: 26px;
  }
  
  .border{
    width: 100px;
    height: 4px;
    background: #fc5c65;
  }
  
  .newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .txtb{
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #283c86;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
  }
  
  .btn{
    padding: 18px 40px;
    font-size: 16px;
    color: #f1f1f1;
    background: #45a247;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
  }

  .btn:hover{
    opacity: .3;
    background: #45a247;
  }
  
  .page-content{
    min-height: 100vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media screen and (max-width:960px) {
    .footer-container{
      max-width: 600px;
    }
    .right-col{
      width: 100%;
      margin-bottom: 60px;
    }
  
    .left-col{
      width: 100%;
      text-align: center;
    }
  }
  
  
  @media screen and (max-width:700px){
    .btn{
      margin: 0;
      width: 100%;
      margin-top: 20px;
      }
  }
