/* Start header */

li,a
{
    font-weight: 500;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color:#F0F2F0;
}

.logo
{
    cursor: pointer;
    margin-right: auto;
}


.nav_links{
    list-style: none;
}

.nav_links li 
{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a 
{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover
{
    color: #c31432;
}


.cta a
{
    padding: 15px 24px ;
    background : #283c86;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta a :hover{
    background: #45a247;

}



button
{
    margin-left: 20px;
    padding: 18px 40px;
    background-color: #283c86;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #45a247;

}

/* footer */
footer{
    background: #f1f1f1;
    padding: 90px 0;
  }
  
  .footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  
  .logo{
    width: 180px;
  }
  
  
  .right-col h1{
    font-size: 26px;
  }
  
  .border{
    width: 100px;
    height: 4px;
    background: #fc5c65;
  }
  
  .newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .txtb{
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #283c86;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
    margin-top: 10px
  }
  
  .btn{
    padding: 18px 20px;
    font-size: 16px;
    color: #f1f1f1;
    background: #283c86;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 270px;
    cursor: pointer;
    transition: opacity .3s linear;
    margin-top: 10px;
  }

  .btn:hover{
    /* opacity: .3; */
    background: #45a247;
  }
  
  .page-content{
    min-height: 100vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media screen and (max-width:960px) {
    .footer-container{
      max-width: 600px;
    }
    .right-col{
      width: 100%;
      margin-bottom: 60px;
    }
  
    .left-col{
      width: 100%;
      text-align: center;
    }
  }
  
  
  @media screen and (max-width:700px){
    .btn{
      margin: 0;
      width: 100%;
      margin-top: 20px;
      }
  }

  /* end footer */