.container{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}
.hero-text{
    font-size: 2rem;
}
.content_area{
    width: 70%;
    height: 50%;
    margin: 0 auto;
    background-color: aqua;
    text-align: center;
}
.content_bx{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}